.blog{
    background: $secondary-color;
    height:60vh;
    padding:2vh;
    overflow: hidden;
    color: $font-color;
    font-size: medium;
     word-spacing: 1;
     line-height: 1;
    h2, h5{
        color: $btn-color;
        padding: 3vh;
    }
}




