@media screen and(max-width:480px){
//     .nav-link{
//         position: absolute;
//         z-index: 1;
//         right: 1rem;
//         top: 1rem;
//         height: 20px;
//         width: 28px;
//         cursor: pointer;
//         @include transition-ease;
        
//     }
//     .nav-link_burger{
//         position: relative;
//         right: 0;
//         top: 0.5rem;
//         width: 28px;
//         height: 3px;
//         background: white;
//         @include transition-ease;
//         align-items: center;

//         &::before{
//             content:'';
//             position: absolute;
//             z-index: 1;
//             top:-8px;
//             width: 28px;
//             height: 3px;
//             background: white;
//             @include transition-ease;
//         }
//         &::after{
//             content:'';
//             position: absolute;
//             z-index: 1;
//             top:8px;
//             width: 28px;
//             height: 3px;
//             background: white;
//             @include transition-ease;
//         }
//         &.open{
//             transform: rotate(720deg);
//             background: transparent;
//             &::before{
//                 transform: rotate(45deg) translate(5px, 8px);
//             }
//             &::after{
//                 width:28px;
//                 transform: rotate(-45deg) translate(3px, -7px);
//             }
//         }
//     }

//     .nav{
//         position: fixed;
//         top:0;
//         left:0;
//         width: 100vw;
//         opacity:0.98;
//         visibility:hidden;
//         &.open{
//             visibility: visible;
//         }
//     }
//     .nav-menu{
//         display:flex;
//         flex-flow: column wrap;
//         align-items: center;
//         justify-content: center;
//         background: $primary-color;
//         padding-right: 1rem;
//         @include transition-ease;
//         transform: translateY(-100%);
//         &.open{
//             transform: translateY(0);
//         }
//     }
// }

.nav-menu{
    display: none;
}
#menu{
    display: block;
}
}